/* From https://www.w3schools.com/bootstrap/bootstrap_ref_js_popover.asp */
  
  /* Popover Header */
  .popover-title {
    background-color: #73AD21;
    color: #FFFFFF;
    font-size: 28px;
    text-align:center;
    width: px;
  }
  
  /* Popover Body */
  .popover-content {
    width: 750px;
    background-color: coral;
    color: #FFFFFF;
    padding: 25px;
  }
  
  /* Popover Arrow
  .arrow {
    border-right-color: red !important;
  }  */

  .popover {
    width: 750px;
    min-width: 754px;
  }

  .carousel-popover-credits-content {
    display: none;
  }

  .carousel-popover-details-content {
    display: none;
  }

  .carousel-popover-pictures-content {
    display: none;
  }