h1.top_line_h1 {
  text-align: center;
  white-space: nowrap;
}

.all_container {
  min-width: 1300px;
}

.videos_carousel_outer {
    text-align: center;
    margin: 0 auto;
}

.word-cloud {
  background-color: #8f573750;
  border-radius: 0.3em;
  height: 4em;
}

.other-project-description {
  font-size: 70%;
}

.other-project-item {
  width: 200px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.other-project-image {
  height: 80px;
  border-radius: 5px;
}

.footer {
  text-align: center;
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(70, 0, 73);
}

.project-description-p {
  font-size: 1.1em;
}